<table class="list">
  <thead>
    <tr>
      <th><%= l(:label_template) %></th>
      <th>public</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% WikiTemplate.owned_by(@project.id).each do |template| %>
  <%- unless template.new_record? %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td><%= h(template.name) %></td>
      <td class="center"><%= checked_image if template.is_public %></td>
      <td class="buttons">
        <%= link_to_if_authorized l(:button_edit), {:controller => 'wiki_templates', :action => 'edit', :id => template , :project_id => @project.id}, :class => 'icon icon-edit' %>
        <%= link_to_if_authorized l(:button_delete), {:controller => 'wiki_templates', :action => 'destroy', :id => template, :project_id => @project.id}, :method => :post, :class => 'icon icon-del' %>
      </td>
    </tr>
  <% end %>
<% end %>
  </tbody>
</table>

<p><%= link_to_if_authorized l(:label_template_new), {:controller => 'wiki_templates', :action => 'new', :project_id => @project.id}, :class => 'icon icon-add' %></p>
