<%-
  return unless @project
  return unless @project.module_enabled?(:wiki_templates)
  return unless User.current.allowed_to?(:show_wiki_templates, @project)
  return unless controller.class.name == 'WikiController'
  return unless @page.new_record?

  local_templates = WikiTemplate.owned_by(@project.id)
  public_templates = WikiTemplate.others_public(@project.id)
%>
<div id="wiki_templates_select" class="box tabular"><p>
<label for="wiki_template_selected"><%= l(:label_choose_template) %></label>
<select id="wiki_template_selected" name="wiki_template_selected">
  <option value="0" selected="selected"><%= l(:label_wiki_blanco) %></option>
<%- local_templates.each do |template| %>
  <option value="<%= template.id %>"><%= template.name %></option>
<%- end %>
<%- unless public_templates.empty? %>
  <optgroup label='--<%= l(:label_global_sep_template) %>--' ></optgroup>
  <%- public_templates.each do |template| %>
  <option value="<%= template.id %>"><%= template.name %></option>
  <%- end %>
<%- end %>
</select>
<%= submit_tag 'Load', :id => 'load_wiki_template' %>
<span id="wiki_template_notice" style="display: none;"></span>
</p></div>
<script type='text/javascript'>
  var wiki_templates_select = $('#wiki_templates_select');
  $('#wiki_form').before(wiki_templates_select);

  $('#load_wiki_template').click(function() {
    if (confirm("the content will be replaced by template's text. sure?")) {
      $.get(
        "<%= url_for(:controller => 'wiki_templates', :action => :load) %>",
        $.param({id:$('#wiki_template_selected').val()}),
        function(data, status) {
          $("#content_text").val(data);
          show_flash("done.");
        },
        "text"
      );
    }
  });

  var show_flash = function(message) {
    $('#wiki_template_notice').stop(true,true).text(message).show().delay(3000).fadeOut('normal');
  }
</script>

