<%-
  return unless @project
  return unless @project.module_enabled?(:wiki_templates)
  return unless User.current.allowed_to?(:show_wiki_templates, @project)
  return unless controller.class.name == 'WikiController'
  return unless @page
  return unless @page.new_record?

  local_templates = WikiTemplate.owned_by(@project.id).sort_by_name
  available_templates = WikiTemplate.others_available(@project.id).sort_by_proj
%>
<div id="wiki_templates_select" class="box tabular"><p>
<label for="wiki_template_selected"><%= l(:label_choose_template) %></label>
<select id="wiki_template_selected" name="wiki_template_selected">
  <option value="0" selected="selected">----</option>
<%- local_templates.each do |template| %>
  <option value="<%= template.id %>"><%= template.name %></option>
<%- end %>
<%- available_templates.each do |template| %>
  <option value="<%= template.id %>">[<%= template.project.name %>] <%= template.name %></option>
<%- end %>
</select>
<%= submit_tag l(:label_load_template), :id => 'load_wiki_template' %>
<span id="wiki_template_notice" style="display: none;"></span>
</p></div>
<script type='text/javascript'>
  $('#wiki_form').before($('#wiki_templates_select'));

  $('#load_wiki_template').click(function() {
    var selected_id = $('#wiki_template_selected').val();
    if (selected_id === "0") return;
    if (confirm("<%= l(:text_confirm_load_template) %>")) {
      $.get(
        "<%= url_for(:controller => 'wiki_templates', :action => :load) %>",
        $.param({id: selected_id}),
        function(data) {
          $("#content_text").val(data);
          notify_success("<%= l(:text_notify_success_of_loading) %>");
        },
        "text"
      );
    }
  });

  var notify_success = function(message) {
    $('#wiki_template_notice').stop(true,true).text(message).show().delay(3000).fadeOut('normal');
  }
</script>

